

RPi.GPIO  
joblib
pymemcache 
pocketsphinx  
SpeechRecognition  
gpiozero  
psutil  
pyserial   
matplotlib   
picamera2   
espeakng    
pyaudio   
pyaudio
networkx
nltk
langchain
langgraph
langchain_core
langchain_ollama
sklearn
llama_cpp_python